.vscode
CM/Assignments/MarsPhoto/app/google-services.json
PPC/Assignments/Reports/CoinCounter/66128.zip
/PPC/Assignments/KnapsackProblem2/KnapsackProblemGo/.idea
/PPC/Assignments/KnapsackProblem2/KnapsackProblemRust/.idea
.DS_Store
/PPC/Assignments/KnapsackProblem2/KnapsackProblemKotlin/.idea
